<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>견적생성</title>
    <link rel="stylesheet" type="text/css" href="../../css/sub.css">
    <!--
    <script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui-1.8.18.custom.min.js"></script>
   	-->
	<script type="text/javascript" src="../../bizMOB/bizMOB-jsloader-1.0.js"></script>
	<script type="text/javascript" src="../js/TFSMES006.js"></script>
</head>

<body>

    <!-- 메뉴 부분 -->
    <div class="menu_pop2">

        <ul>
            <li class="menu01 btn_menu" value="1">
                <button>
                    <img src="../../images/btn/menu1.png" alt="">
                    <span>견적생성</span>
                </button>
            </li>
            <li class="menu02 btn_menu" value="2">
                <button>
                    <img src="../../images/btn/menu2.png" alt="">
                    <span>견적조회</span>
                </button>
            </li>
            <li class="menu03 btn_menu" value="3">
                <button>
                    <img src="../../images/btn/menu3.png" alt="">
                    <span>나의정보</span>
                </button>
            </li>
            <li class="menu04 btn_menu" value="4" style="display:none;">
                <button>
                    <img src="../../images/btn/menu4.png" alt="">
                    <span>통계관리</span>
                </button>
            </li>
        </ul>
    </div>
    <!-- // 메뉴 부분 -->
    
</body>

</html>
