<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="">
    <meta name="robots" content="all">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>제목</title>
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <!-- <script type="text/javascript" src="../../js/jquery-1.9.0.min.js"></script> -->
    <script type="text/javascript" src="../../bizMOB/bizMOB-jsloader-1.0.js"></script>
	<script type="text/javascript" src="../js/TFSMES004.js"></script>
</head>

<body>
    <div id="skipNavi">
        <strong class="hidden">Skip menu</strong>
        <ahref="#content">Skip to content</a>
    </div>
    <div id="wrap">
        <!-- header -->
        <div id="header">
            <div class="logo">
                <!-- <img src="../../images/logo.png" alt="넥서스 로고"> -->
            </div>
            <p class="m_info">사용자 등록</p>
        </div>
        <!-- //header -->

        <!-- container -->
        <div id="container">
            <div id="content">
                <!-- 내용 -->
                <div class="mf2">

                    <div class="tw pos_r" id="signLayout">
                        <fieldset>
                            <table class="rset" id="signContent">
                                <caption>로그인폼</caption>
                                <tr>
                                    <th scope="row">아이디</th>
                                    <td>
                                        <input type="text" title="아이디" placeholder="아이디" id="inp_userId">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">임시 비밀번호</th>
                                    <td>
                                        <input type="password" title="비밀번호" placeholder="비밀번호" id="inp_userTempPwd">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">변경 비밀번호</th>
                                    <td>
                                        <input type="password" title="비밀번호" placeholder="비밀번호" id="inp_userNewPwd">
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <!-- 비밀번호 정책 안내 문구 contents -->
                        <div id="guideContent">
	                        <div class="infoBox">
	                            <a id="btn_closeGuide">
	                                <img src="../../images/btn/close.png" alt="닫기">
	                            </a>
	                            <ul class="text_list">
	                                <li>영문자, 숫자 8자리 이상이어야 합니다.</li>
	                                <li>영문자, 특수문자 8자리 이상이어야 합니다.</li>
	                                <li>비밀번호 유효일자는 90일입니다.</li>
	                                <!-- <li>8(8)자 이상 15(15)자 이하이어야 합니다.</li>
	                                <li>최소 하나의 영문자(a-z; A-Z)를 포함해야 합니다.</li>
	                                <li>최소 하나의 숫자(0-9)를 포함해야 합니다.</li>
	                                <li>최소 하나의 특수 문자를 포함해야 합니다.</li>
	                                <li>예를 들면 다음과 같습니다. @&%”.</li> -->
	                            </ul>
	                        </div>
	                        <img src="../../images/bg/ar.png" alt="" class="arr">
                       </div>
                        <!-- //비밀번호 정책 안내 문구 contents -->
                    </div>

                </div>
                <div class="saveBtn">
                    <input type="image" value="저장" src="../../images/btn/save.png" id="btn_sign">
                </div>
            </div>

            <div class="info">
                <p>TELEPHONE INQUIRY</p>
                <p id="phoneNo">02-2192-6095</p>
            </div>
            <!-- //내용 -->
        </div>
    </div>
    <!-- //container -->

    <!-- footer -->
    <!--
    <div id="footer">
        <address>
        	COPYRIGHT 2013 BY TOYOTA FINANCIAL SERVICES KOREA
        </address>
    </div>
    -->
    <!-- //footer -->
    </div>
</body>

</html>
