{
	"URL":{
		"LOGIN":"TFSMES0/html/TFSMES001.html",
		"MAIN" : ["TFSMES0/html/TFSMES002.html","MN000/html/TTMNKBFNG.html","MN000/html/TMNKBSTAR.html","MN000/html/TMNKBCARD.html","MN000/html/MNKBFNG.html","MN000/html/MNKBSTAR.html","MN000/html/MNKBCARD.html","TFSMES0/html/TFSMES002.html"]
	},
	"TITLEBAR" : {
		"TEXTCOLOR":"FFFFFFFF",
		"BACKGROUNDIMAGE" : "common/images/bg.png",
		"BACKGROUNDCOLOR" : "FF645353",
		"VISIBLE" : true
	},
	"TOOLBAR" : {
		"BACKGROUNDIMAGE" : "common/images/bg.png",
		"VISIBLE" : true
	},
	"CONTEXT" : {
		"BACKGROUNDCOLOR":"FF534334",
		"TEXTCOLOR" : "FFFFFFFF"
	},
	"WEBVIEW" : {
		"MAXIMUMCOUNT" : 8,
		"BACKGROUNDCOLOR" : {
								"NORMAL" : "FFFFFFFF",
								"DIALOG" : "00000000"
							}
	}			
}